- id: primary-infrastructure_alerting
  type: group
  role: [primary-infrastructure_alerting]
  tasks: &common_tasks
    - fuel_pkgs
    - hiera
    - globals
    - tools
    - logging
    - netconfig
    - hosts
  required_for: [deploy_end]
  requires: [deploy_start]
  parameters:
    strategy:
      type: one_by_one

- id: infrastructure_alerting
  type: group
  role: [infrastructure_alerting]
  tasks: *common_tasks
  required_for: [deploy_end]
  requires: [deploy_start, primary-infrastructure_alerting]
  parameters:
    strategy:
      type: parallel

- id: lma-alerting-hiera
  type: puppet
  groups: [primary-infrastructure_alerting, infrastructure_alerting]
  requires: [globals]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/hiera.pp"
    puppet_modules: "puppet/modules"
    timeout: 120

- id: lma-alerting-firewall
  type: puppet
  groups: [primary-infrastructure_alerting, infrastructure_alerting]
  requires: [netconfig]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/firewall.pp"
    puppet_modules: "puppet/modules"
    timeout: 120

- id: lma-alerting-cluster
  type: puppet
  groups: [primary-infrastructure_alerting, infrastructure_alerting]
  requires: [lma-alerting-firewall, lma-alerting-hiera]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/cluster.pp"
    puppet_modules: "puppet/modules"
    timeout: 600
  reexecute_on:
    - deploy_changes

- id: lma-alerting-vip
  type: puppet
  groups: [primary-infrastructure_alerting, infrastructure_alerting]
  requires: [lma-alerting-cluster]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/modules/osnailyfacter/modular/virtual_ips/virtual_ips.pp"
    puppet_modules: "puppet/modules"
    timeout: 600

# This task needs to be reexecuted to reconfigure the no-quorum-policy every
# time the cluster is scaled up or down
- id: lma-enable-quorum
  type: puppet
  groups: [primary-infrastructure_alerting]
  requires: [lma-alerting-vip]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/enable_quorum.pp"
    puppet_modules: "puppet/modules"
    timeout: 120
  reexecute_on:
    - deploy_changes

